<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"> 
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

<div class="container mt-3" [formGroup]="ClinicMasterForm">
  <div class="row align-items-end">
      <div class="col-md-3">
      <label>Centre</label>  
      <select class="form-control" formControlName="ddlCentre">
        <option value="">~Please Choose~</option>
        <option *ngFor="let item of centerApiResponse" [value]="item.centerCode">{{item.centerName}}</option>
      </select>
    </div>
    <div class="col-md-2">
      <label>Status</label>
     <select class="form-control" formControlName="ddlStatus">
        <option value="">~Please Choose~</option>
        <option value="true">Active</option>
        <option value="false">InActive</option>
      </select>
    </div>
    <div class="col-md-3">
      <label>Search By City / Incharge / Code</label>
      <input class="form-control" type="text" placeholder="Enter city / incharge / code" formControlName="CityInchargeCode"/>
    </div>

    <div class="col-md-4">
      <button mat-flat-button class="search-button" (click)="onSearch()">
        <mat-icon>search</mat-icon> Search Clinic
      </button>
    <button mat-flat-button class="save-button" (click)="OpenAddClinicMasterPopUp()">
        <mat-icon>add</mat-icon> Add New Clinic
      </button>
    </div>
  </div>
  <br/>

  <div class="row"  *ngIf="IsRecordFound">
    <div class="col-md-9"></div>
    <div class="col-md-3">
      <input class="form-control" formControlName="filterClinics" placeholder="Search..." />
    </div>
      <br/>
      <br/>
      <br/>
    <table class="table table-bordered table-striped" *ngIf="IsRecordFound">
      <thead>
        <tr>
          <th>Clinic Code</th>
          <th>Clinic Name</th>
          <th>Incharge Name</th>
          <th>Mobile Number</th>
           <th>Email</th>
          <th>Location</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of clinicApiResponse | paginate: { itemsPerPage: itemsPerPage, currentPage: p }; let i = index">
          <td>{{ item.clinicCode }}</td>
          <td>{{ item.clinicName }}</td>
          <td>{{ item.clinicIncharge }}</td>
          <td>{{ item.mobileNumber }}</td>
           <td>{{ item.emailId }}</td>
           <td>{{ item.clinicAddress }}</td>
          <td><button class="edit-button" matTooltip="edit clinic details" (click)="ViewClinicDetails(item.clinicId)" >
            <mat-icon class="edit-icon">edit</mat-icon>
            </button>
            <button class="delete-button" matTooltip="delete clinic" (click)="clinicDeleteConfirmationDialog(item.clinicId)">
            <mat-icon class="delete-icon">delete</mat-icon>
            </button>
        </td>
        </tr>
      </tbody>
    </table>
    <pagination-controls (pageChange)="p = $event"></pagination-controls>
  </div>

  <div *ngIf="IsNoRecordFound" class="row tbl-div mt-3">
    <div class="form-group form-control NoRecord-Found">No profiles found!</div>
  </div>

  
</div>
<app-toast></app-toast>
<app-loader *ngIf="loading$ | async"></app-loader>
