<div class="modal">
    <div class="modal-content">
      <div *ngIf="isAddHeaderVisible" class="modal-header">
        <h4>Add Test Details</h4>
        <button class="close-button" (click)="close()">X</button>
      </div>
      <div *ngIf="isEditHeaderVisible" class="modal-header">
        <h4>View/Edit Test Details</h4>
        <button class="close-button" (click)="close()">X</button>
      </div>
      <div class="modal-body">
        <mat-tab-group>
            <mat-tab label="Test Details"> 
              <br/>
              <div class="container mt-3" [formGroup]="editTestForm">
                <div class="row">
                  <div  class="col-md-2">
                      <label>Test Code</label>
                      <input class="form-control" name="testCode" type="text"  formControlName="testCode" placeholder="Test Code">
                    </div>
                    <div class="col-md-4">
                      <label>Test Name</label>
                      <input class="form-control" name="testName" type="text"  formControlName="testName" placeholder="Enter Test Name">
                    </div>
                  <div class="col-md-3">
                    <label>Department</label>
                    <select class="form-control" formControlName="ddlTestDepartment">
                      <option value="">~Please Choose~</option>
                      <option *ngFor="let item of testDepartmentResponse" [value]="item.itemType">{{item.itemDescription}}</option>
                   </select>
                  </div>
                  <div  class="col-md-3">
                    <label>Sub-Department</label>
                    <select class="form-control" formControlName="ddlSubDepartment">
                      <option value="">~Please Choose~</option>
                      <option *ngFor="let item of testSubDepartmentResponse" [value]="item.itemType">{{item.itemDescription}}</option>
                   </select>
                  </div>
              </div>
              <br/>
                <div class="row">
                  <div class="col-md-3">
                    <label>Methodology</label>
                    <input class="form-control" name="Methodology" type="text"  formControlName="Methodology" placeholder="Enter Test Methodology">
                  </div>
                    <div class="col-md-3">
                      <label>Specimen Type</label>
                      <select class="form-control" formControlName="ddlSpecimenType">
                        <option value="">~Please Choose~</option>
                        <option *ngFor="let item of specimenTypeResponse" [value]="item.itemType">{{item.itemDescription}}</option>
                     </select>
                    </div>
                    <div  class="col-md-3">
                      <label>Reference Units</label>
                      <input class="form-control" name="ReferenceUnit" type="text"  formControlName="ReferenceUnit" placeholder="Enter Unit">
                    </div>
                    <div class="col-md-3">
                      <label>Reporting Style</label>
                      <select class="form-control" formControlName="ddlReportingStyle">
                        <option value="">~Please Choose~</option>
                        <option *ngFor="let item of reportingStyleResponse" [value]="item.itemType">{{item.itemDescription}}</option>
                     </select> 
                    </div>
                </div>
                <br/>
                <div class="row">
                  <div class="col-md-3">
                    <label>Report Template</label>
                    <select class="form-control" formControlName="ddlReportTemplate">
                      <option value="">~Please Choose~</option>
                      <option *ngFor="let item of reportTemplatesResponse" [value]="item.itemType">{{item.itemDescription}}</option>
                   </select>
                  </div>
                    <div class="col-md-2">
                      <label>Reporting Decimals</label>
                      <input class="form-control" name="ReportingDecimals" type="text"  formControlName="ReportingDecimals" placeholder="Reporting Decimals">
                    </div>
                    <div  class="col-md-2">
                      <label>Processed at?</label>
                      <select class="form-control" formControlName="ddlProcessedAt">
                        <option value="">~Please Choose~</option>
                        <option value="False">InLab</option>
                        <option value="True">OutLab</option>
                     </select>
                    </div>
                    <div class="col-md-2">
                      <label>Print Sequence</label>
                      <input class="form-control" name="PrintSequence" type="number"  formControlName="PrintSequence" placeholder="Print Sequence">
                    </div>
                    <div  class="col-md-3">
                      <label>Direct Test entry restricted?</label>
                      <select class="form-control" formControlName="ddlTestEntryRestricted">
                      <option value="">~Please Choose~</option>
                      <option value="Y">Yes</option>
                      <option value="N">No</option>
                    </select>
                    </div>
                </div>
                <br/>
                <div class="row">
                  <div class="col-md-3">
                    <label>Short Name</label>
                    <input class="form-control" name="ShortName" type="text"  formControlName="ShortName" placeholder="Enter Short Name">
                  </div>
                    <div class="col-md-3">
                    <label>Patient Rate</label>
                    <input class="form-control" name="PatinetRate" type="number"  formControlName="PatinetRate" placeholder="Enter Patinet Rate">
                  </div>
                    <div class="col-md-3">
                      <label>Client Rate</label>
                      <input class="form-control" name="ClientRate" type="number"  formControlName="ClientRate" placeholder="Enter Client Rate">
                    </div>
                    <div class="col-md-3">
                      <label>Lab Rate</label>
                      <input class="form-control" name="LabRate" type="number"  formControlName="LabRate" placeholder="Enter Lab Rate">
                    </div>
                </div>
                <br/>
                <div class="row">
                  <div class="col-md-3">
                    <label>Status</label>
                    <select class="form-control" formControlName="ddlTestStatus">
                      <option value="">~Please Choose~</option>
                      <option value="Active">Active</option>
                      <option value="InActive">InActive</option>
                   </select>
                  </div>
                  <div class="col-md-2">
                    <label>Analyzer Name</label>
                    <input class="form-control" name="DefaultValue" type="text"  formControlName="DefaultValue" placeholder="Enter Default Value">
                  </div>
                  <div class="col-md-2">
                    <label>Is Automated?</label>
                    <select class="form-control" formControlName="ddlIsAutomated">
                      <option value="">~Please Choose~</option>
                      <option value="Yes">Yes</option>
                      <option value="No">No</option>
                   </select> 
                  </div>
                <div class="col-md-2">
                  <label>Is Calculated?</label>
                  <select class="form-control" formControlName="ddlIsCalculated">
                    <option value="">~Please Choose~</option>
                      <option value="Yes">Yes</option>
                      <option value="No">No</option>
                 </select>
                </div>
                <div class="col-md-3">
                  <label>Lab Test Code</label>
                  <input class="form-control" name="LabTestCode" type="text"  formControlName="LabTestCode" placeholder="Enter Lab Test Code">
                </div>
              </div>
              <br/>
              <div class="row">
                <div class="col-md-3">
                    <label>Test Applicable</label>
                    <select class="form-control" formControlName="ddlTestApplicable">
                    <option value="">~Please Choose~</option>
                    <option value="B">Both</option>
                    <option value="Male">Male</option>
                    <option value="Female">Female</option>
                   </select> 
                  </div>
                <div class="col-md-2">
                  <label>Is LMP?</label>
                  <select class="form-control" formControlName="ddlIsLMP">
                    <option value="">~Please Choose~</option>
                    <option value="True">True</option>
                    <option value="False">False</option>
                 </select>
                </div>
                <div class="col-md-2">
                  <label>Is NABL Applicable?</label>
                  <select class="form-control" formControlName="ddlIsNABLApplicable">
                    <option value="">~Please Choose~</option>
                    <option value="Yes">Yes</option>
                      <option value="No">No</option>
                 </select> 
                </div>
              <div class="col-md-3">
                <label>Referral Ranges</label>
                <textarea class="form-control" name="ReferralRangesComments" formControlName="ReferralRangesComments" rows="4" cols="30" required></textarea>
              </div>
              <div class="col-md-2">
                <button *ngIf="isSubmitVisible" mat-flat-button class="submit-button" (click)="onSubmit()" >Submit</button>
                <button *ngIf="isUpdateVisible" mat-flat-button class="update-button" (click)="onEditTest()" >Update</button>
              </div>
            </div>
              </div>  
            </mat-tab>
            <mat-tab label="Referral Ranges">  
              <br/>
              <div class="container mt-3" [formGroup]="referralRangeForm" >
                <div class="row">
                  <table class="table table-bordered table-striped">
                <thead>
                  <tr>
                   <th>Gender</th>
                   <th>Ranges (Low / High)</th>
                   <th>From & To in Days</th>
                   <th>Critical Value(Low / High)</th>
                   <th>Group</th>
                   <th>Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>
                      <div class="row">
                        <input type="hidden" class="form-control" name="referralId" formControlName="hdnReferralId">
                        <div class="col-md-12">
                          <select class="form-control" formControlName="ddlGender">
                            <option value="">~Please Choose~</option>
                            <option value="B">Both</option>
                            <option value="M">Male</option>
                            <option value="F">Female</option>
                         </select>
                        </div>
                     </div>
                    </td>
                    <td>
                      <div class="row">
                       <div class="col-md-6">
                        <input class="form-control" name="LowValue" type="number" formControlName="LowValue" placeholder="Enter Low Value">
                       </div>
                       <div class="col-md-6">
                        <input class="form-control" name="HighValue" type="number" formControlName="HighValue"  placeholder="Enter High Value">
                       </div>
                      </div>
                    </td>
                    <td>
                      <div class="row">
                        <div class="col-md-6">
                         <input class="form-control" name="FromDays" type="number" formControlName="FromDays"  placeholder="Enter From Day">
                        </div>
                        <div class="col-md-6">
                         <input class="form-control" name="ToDays" type="number" formControlName="ToDays"  placeholder="Enter To Day">
                        </div>
                       </div>
                    </td>
                    <td>
                      <div class="row">
                        <div class="col-md-6">
                         <input class="form-control" name="CriticalLowValue" type="number"  formControlName="CriticalLowValue" placeholder="Low Critical Value">
                        </div>
                        <div class="col-md-6">
                         <input class="form-control" name="CriticalHighValue" type="number" formControlName="CriticalHighValue"  placeholder="High Critical Value">
                        </div>
                       </div>
                    </td>
                    <td>
                      <textarea class="form-control" name="ReferralRangesGroup" formControlName="ReferralRangesGroup" rows="3" cols="30" required></textarea>
                    </td>
                     <td> 
                      <button mat-icon-button class="add-button" matTooltip="save tag" (click)="onAddReferralRange()" >
                        <mat-icon>save</mat-icon>
                      </button>
                          <button class="delete-button" matTooltip="delete tag" (click)="NormalRangeDeleteConfirmationDialog(referralRangeForm.get('hdnReferralId')?.value)">
                      <mat-icon class="delete-icon">delete</mat-icon>
                    </button>

                  </td>
                  </tr>
                </tbody>
              </table> 
                </div>
              </div>
            </mat-tab>
            <mat-tab label="Special Values">
              <br/>
              <div *ngIf="IsNoRecordFound" calss="row tbl-div">
                <br/>
                <div class="form-group form-control NoRecord-Found">
                  No Records Found! 
                </div>
                <br/>
              </div>
              <div *ngIf="IsRecordFound" class="container mt-3" [formGroup]="specialValueForm">
                <div class="row">
                  <table class="table table-bordered table-striped">
                <thead>
                  <tr>
                   <th>Allowed Value</th>
                   <th>Edited Value</th>
                   <th>Is Abnormal</th>
                   <th>Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of specialValueResponse | paginate: { itemsPerPage: itemsPerPage, currentPage: p }; let i = index">
                    <td>
                      {{ item.allowedValue}}
                    </td>
                    <td>
                      <div class="row">
                       <div class="col-md-12">
                        <input class="form-control" name="EditedValue" type="text" formControlName="EditedValue"  placeholder="Edited Value">
                       </div>
                      </div>
                    </td>
                    <td>
                      <div class="row">
                        <div class="col-md-12">
                          <mat-checkbox class="checkbox-margin" [checked]="item.isAbnormal" formControlName="isAbnormal"></mat-checkbox>
                        </div>
                       </div>
                    </td>
                     <td> 
                      <button mat-icon-button class="add-button" matTooltip="save tag" (click)="onSaveUpdateSpecialValues()" >
                        <mat-icon>save</mat-icon>
                      </button>
                    <button class="delete-button" matTooltip="delete tag" (click)="SpecialValueDeleteConfirmationDialog(item.recordId,item.partnerId)">
                      <mat-icon class="delete-icon">delete</mat-icon>
                    </button>
                  </td>
                  </tr>
                </tbody>
              </table> 
              <pagination-controls (pageChange)="p = $event"></pagination-controls>
                </div>
              </div> 
              </mat-tab>
            <!-- <mat-tab label="Centre Rates"> need to implement later
              <div class="container mt-3">
                <br/>
                <div class="row">
                  <div class="col-md-8">
                    <div class="form-group">
                      <label>Agreed Rate</label>
                      <input class="form-control" name="CenterAgreedRate" type="text"   placeholder="Enter agreed rates..">
                    </div>
                  </div>
                  <div class="col-md-4">
                    <button mat-flat-button class="apply-button" >Apply Rates</button>
                    <button mat-flat-button class="save-button" >Save Rates</button>
                  </div>
                  <br/>
                </div>
                <div class="row">
                  <div class="col-md-3"></div>
                  <div class="col-md-3"></div>
                  <div class="col-md-3"></div>
                  <div class="col-md-3">
                    <div class="form-group">
                      <input class="form-control" placeholder="Search..." />
                    </div>
                  </div>
                  </div> 
                  <br/>
                <div class="row">
                  <table class="table table-bordered table-striped">
                <thead>
                  <tr>
                   <th>Center Name</th>
                   <th>AgreedRate</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of centerRateResponse | paginate: { itemsPerPage: itemsPerPage1, currentPage: p1 }; let i = index">
                    <td>
                      {{ item.partnerName}}
                    </td>
                    <td>
                      <div class="row">
                       <div class="col-md-12">
                        <input class="form-control" name="AgreedRate" [(ngModel)]="item.billRate"   placeholder="Agreed Rate">
                       </div>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table> 
              <pagination-controls (pageChange)="p1 = $event"></pagination-controls>
                </div>
              </div> 
            </mat-tab> -->
        </mat-tab-group>
        <app-toast></app-toast>
      </div>
      <div class="modal-footer">
        <button class="close-button" (click)="close()">Close</button>
      </div>
    </div>
</div>
 





  