/* Main menu wrapper */
.main-menu {
    background: linear-gradient(90deg, #00C7B7, #00C7B7); /* Gradient background */
    color: #ffffff;
    padding: 8px; /* Optional spacing */
}

/* Top-level buttons */
.main-menu button[mat-button] {
    color: #ffffff;
    font-weight: 500;
}


/* Top-level buttons */
.main-menu button[mat-menu-item] {
    color: #ffffff;
    font-weight: 500;
}

::ng-deep .main-menu button[mat-menu-item] .mat-icon {
  color: #ffffff !important;
  fill: #ffffff !important;
}
