
<div class="container mt-4" [formGroup]="PatientRegistrationForm">
  <div class="card shadow-sm">
  <div class="registration-header">
  <div class="left">
    <span class="icon">👤</span>
    <span class="title">Registration</span>
  </div>

  <div class="right"] *ngIf="PatientRegistrationForm.get('PatientId')?.value">
    <span class="reg-on">REG. ON: <strong>{{ PatientRegistrationForm.get('registrationDate')?.value| date:'dd-MMM-yyyy HH:mm' }}</strong></span>
    <span class="visit-id">VISIT ID : <strong>{{ PatientRegistrationForm.get('VisitId')?.value }}</strong></span>
  </div>
</div>


    <div class="patient-registration-container">
         <div class="row">
            <div class="col-md-2">
              <label>Title<mat-icon class="matIcon">*</mat-icon></label>
                <select class="form-control" formControlName="ddlTitle">
                   <option value="">~Please Choose~</option>
                    <option value="MR">MR</option>
                    <option value="MISS">MISS</option>
                    <option value="MS">MS</option>
                    <option value="MRS">MRS</option>
                    <option value="MASTER">MASTER</option> 
                    <option value="BABY">BABY</option> 
                    <option value="BABY OF">BABY OF</option> 
                    <option value="DR">DR</option> 
                    <option value="SMT">SMT</option> 
                </select>
            </div>
             <div class="col-md-2">
              <label>Gender<mat-icon class="matIcon">*</mat-icon></label>
                <select class="form-control" formControlName="ddlGender">
                    <option value="">~Please Choose~</option>
                    <option value="M">Male</option>
                    <option value="F">Female</option>
                </select>
            </div>

            <div class="col-md-4">
            <label>Patient Name<mat-icon class="matIcon">*</mat-icon></label>
            <input type="text" formControlName="PatientName" placeholder="Enter patient name" class="form-control">
            </div>

            <div class="col-md-2">
            <label>Age <mat-icon class="matIcon">*</mat-icon></label>
            <input type="number" formControlName="PatientAge" placeholder="Enter patient age" class="form-control">
            </div>

            <div class="col-md-2">
            <label>Years<mat-icon class="matIcon">*</mat-icon></label>
            <select class="form-control" formControlName="ddlAgeType">
                <option value="">~Please Choose~</option>
                <option value="Years">Years</option>
                <option value="M">Months</option>
                <option value="D">Days</option>
            </select>
            </div>
         </div>
         <br/>
         <div class="row">
            <div class="col-md-4">
             <label>Email Id</label>
             <input type="email" formControlName="PatientEmail" placeholder="Enter patient email" class="form-control">
             </div>

            <div class="col-md-4">
            <label>Mobile Number</label>
            <input type="text" formControlName="PatientMobileNumber" placeholder="Enter patient mobile number" class="form-control">
            </div>

            <div class="form-group col-md-4">
             <label>Center Name</label>
             <select class="form-control" formControlName="ddlCenterName" (change)="loadAllTestSamples()">
              <option value="">~Please Choose~</option>
              <option *ngFor="let item of centerApiResponse" [value]="item.centerCode">{{item.centerName}}</option>
             </select>
            </div>
        </div>
        <br/>
          <div class="row">
          <div class="col-md-4">
            <label>Referred Dr<mat-icon class="matIcon">*</mat-icon></label>
              <select class="form-control" formControlName="ddlReferredDr">
              <option value="">~Please Choose~</option>
              <option *ngFor="let item of clientApiResponse" [value]="item.clientId">{{item.clientName}}</option>
              </select>
            </div>

            <div class="col-md-4">
            <label>Billing / Patient Type <mat-icon class="matIcon">*</mat-icon></label>
            <select class="form-control" formControlName="ddlBillingPatientType" (change)="loadAllTestSamples()">
              <option value="">~Please Choose~</option> 
              <option value="Center">Regular</option>
              <option value="Project">Project</option>
            </select>
            </div>

            <div class="col-md-4" *ngIf="PatientRegistrationForm.get('ddlBillingPatientType')?.value === 'Project'">
            <label>Project<mat-icon class="matIcon">*</mat-icon></label>
            <select class="form-control" formControlName="ddlProject" (change)="loadAllTestSamples()">
            <option value="">~Please Choose~</option>
              <option *ngFor="let item of projectApiResponse" [value]="item.projectId">{{item.projectName}}</option>
            </select>
            </div>
          </div>
         <br/>
        <div class="row">
          <div class="col-md-4">
          <label>Instruction to Lab</label>
          <input type="text" formControlName="LabInstruction" placeholder="Enter instruction to lab " class="form-control">
          </div>

          <div class="col-md-4">
          <label>Referral Number (Hospitals)</label>
          <input type="text" formControlName="ReferalNumber" placeholder="Enter referal number" class="form-control">
          </div>

          <div class="col-md-4">
          <label>Sample Collected At</label>
          <select class="form-control" formControlName="ddlSampleCollectedAt">
            <option value="">~Please Choose~</option>
              <option *ngFor="let item of sampleCollectionPlaceApiResponse" [value]="item.sampleCollectedPlaceName">{{item.sampleCollectedPlaceName}}</option>
          </select>
          </div>
        </div>
        <br/>
         <hr>
      <div class="row">
        <div class="col-md-2">
            <label class="text-success">TESTS / PROFILES</label>
        </div>
        <div class="col-md-8">
        <div class="test-profile-section input-group">
        <span class="test-profile-search">
          <mat-icon>search</mat-icon>
          </span>
      <select id="testsSelect" class="form-control" formControlName="TestProfileName" (change)="getSelectedSamples()">
        <!-- Show loader text -->
        <option *ngIf="loading$" disabled>Loading all test / profiles...</option>

        <!-- Default option -->
        <option *ngIf="!loading$" value="">-- Select Test / Profile --</option>

        <!-- Actual data -->
        <option *ngFor="let item of testSampleApiResponse"
                [value]="item.sampleCode">
            {{ item.sampleName }}
        </option>
        </select>
    </div>
    <p class="help-block bold">
      Type few characters of the Test / Profiles you want to select
    </p>
</div>
        <div class="col-md-2">
        <!-- <button class="add-test-profile-button mt-4" (click)="ViewSampleDetails()">
            Add Tests / Profiles
        </button> -->
        </div>
       </div>
       <br/>
      <div class="row">
        <div class="table-responsive mt-3">
           <table class="table table-bordered table-hover text-center">
           <thead class="thead-light">
            <tr>
              <th>Sr.No.</th>
              <th>Test Code</th>
              <th>Test Name</th>
              <th>Price</th>
              <th>Offer Price</th>
              <th>Specimen Type</th>
              <th>Imported?</th>
            </tr>
          </thead>
          <tbody>
             <tr *ngFor="let item of selectedSamples; let i = index">  
               <td>{{i+1}}</td>
               <td>{{item.sampleCode}}</td>
               <td>{{item.sampleName}}</td>
               <td>{{item.mrp}}</td>
               <td>{{item.billRate}}</td>
               <td>{{item.sampleType}}</td>
               <td>
                <button class="remove-icon" (click)="removeSample(i)">&times;</button>
              </td>
            </tr>
            <tr *ngIf="selectedSamples.length === 0">
              <td colspan="7">No test/profile data available in table</td>
            </tr>
          </tbody>
         </table>
        </div>
      </div>
      <br/>
       <div class="row">
            <div class="col-md-3">
              <label>Total Cost</label>
              <input type="text" formControlName="TotalCost" class="form-control font-weight-bold" value="0" readonly>
            </div>

            <div class="col-md-3">
              <label>Discount Type</label>
              <select class="form-control" formControlName="ddlDiscountType">
                <option value="">~Please Choose~</option>
                <option value="false">Amount</option>
                <option value="true">Percentage</option>
              </select>
            </div>

            <div class="col-md-2">
              <label>Discount</label>
              <input type="text" formControlName="Discount" (change)="updateBillingAmount()" class="form-control">
            </div>

            <div class="col-md-4">
              <label>Discount Remarks</label>
              <textarea class="form-control" formControlName="DiscountRemarks"></textarea>
            </div>
       </div>
       <br/>
       <div class="row">
       <div class="col-md-3">
          <label>Grand Total</label>
          <input type="text" formControlName="GrandTotal" class="form-control font-weight-bold" value="0.00" readonly>
       </div>

        <div class="col-md-3">
          <label>Paid Amount</label>
          <input type="text" formControlName="PaidAmount" class="form-control" (change)="updateBillingAmount()">
        </div>

        <div class="col-md-3">
          <label>Balance Payable</label>
          <input type="text" formControlName="BalancePayable" class="form-control font-weight-bold" value="0.00" readonly>
        </div>
       </div>
       <div class="row">
     <!-- Buttons -->
      <div class="text-center mt-4">
        <button class="lis-button save-button" (click)="savePatientDetails()">
         <mat-icon>save</mat-icon> Save Patient Registration
        </button>
        <!-- <button class="btn btn-primary">
          <i class="fa fa-plus"></i> New Registration
        </button> -->
      </div>
       </div>
    </div>
  </div>
</div>
 <app-toast></app-toast>
<app-loader *ngIf="loading$ | async"></app-loader>