<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"> 
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

<div class="popup-container">
  <!-- Header -->
    <div *ngIf="isEditHeaderVisible" class="popup-header">
    <h2>Out Lab Mapping</h2>
    <button class="close-btn" (click)="close()">&times;</button>
</div>

 <!-- Content / Form -->
<div class="container mt-3" [formGroup]="outlabMappingForm">
  <div class="row align-items-end">
    <div class="col-md-2">
      <label>Mapping Type</label>
      <select class="form-control" formControlName="ddlMappingType">
        <option value="">~Please Choose~</option>
        <option value="RetrieveClientConfirmedRates">Already Applied</option>
        <option value="RetrieveClientSpecificRates">Pending</option>
      </select>
    </div>

    <div class="col-md-3">
      <label>Test / Profile Name</label>
      <input class="form-control" type="text" placeholder="Enter test or profile name" formControlName="testPrrofile"/>
    </div>

    <div class="col-md-4">
      <button mat-flat-button class="filter-button">
        <mat-icon>search</mat-icon> Filter Test Profile
      </button>
      <button mat-flat-button class="update-button">
        <mat-icon>update</mat-icon> Update
      </button>
    </div>
  </div>

  <br/>

  <div class="row"  *ngIf="IsRecordFound">
    <div class="col-md-9"></div>
    <div class="col-md-3">
      <input class="form-control" formControlName="filterCentreRates" placeholder="Search..." />
    </div>
      <br/>
      <br/>
      <br/>
<div formArrayName="testAgreedRate">
    <table class="table table-bordered table-striped" *ngIf="IsRecordFound">
      <thead>
        <tr>
          <th>Test Code</th>
          <th>Test Name</th>
          <th>MRP</th>
          <th>Agreed Rate</th>
        </tr>
      </thead>
      <!-- <tbody>
        <tr *ngFor="let item of clientCustomRateResponse | paginate: { itemsPerPage: itemsPerPage, currentPage: p }; let i = index">
          <td>{{ item.testCode }}</td>
          <td>{{ item.testName }}</td>
          <td>{{ item.mrp }}</td>
          <td>
            <input
              type="text"
              class="form-control"
              [formControlName]="i"
              placeholder="Agreed Rate"/>
          </td>
        </tr>
      </tbody> -->
    </table>
    <pagination-controls (pageChange)="p = $event"></pagination-controls>
  </div>
  </div>

  <div *ngIf="IsNoRecordFound" class="row tbl-div mt-3">
    <div class="form-group form-control NoRecord-Found">No profiles found!</div>
  </div>

  
</div>
<app-toast></app-toast>
<app-loader *ngIf="loading$ | async"></app-loader>
<br/>
<br/>
  <!-- Footer / Actions -->
  <div class="popup-footer">
    <button class="btn cancel-btn" (click)="close()">Close</button>
  </div>
</div>