<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"> 
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

<div class="container mt-3">
    <div class="row" [formGroup]="CenterDetailsForm">
        <div class="col-md-3">
        <label>Centre Status</label>
        <select class="form-control"  formControlName="ddlCenterStatus">
            <option value="">~Please Choose~</option>
            <option value="true">Active</option>
            <option value="false">InActive</option>
        </select>
        </div>
        <div class="col-md-3">
            <label>Search By Centre Name/ Code</label>
      <input class="form-control" type="text" name="SeachBy" placeholder="Type center name or code" formControlName="SeachByNameOrCode"/>
         </div>
         <div class="col-md-6">
            <div class="div-button">
            <button mat-flat-button class="search-button" (click)="SearchAllCenterRecords()"><mat-icon>search</mat-icon>Search Centres</button>
            <button mat-flat-button class="add-button" (click)="OpenAddCenterMasterPopUp()" >
              <mat-icon>add</mat-icon> Add New Centre</button> 
          </div>
        </div>
    </div>
    <br/>
    <div class="row" [formGroup]="searchCenterForm" *ngIf="IsRecordFound">
    <div class="col-md-3"></div>
    <div class="col-md-3"></div>
    <div class="col-md-3"></div>
    <div class="col-md-3">
      <div class="form-group">
        <input class="form-control" formControlName="filterCenters" placeholder="Search..." />
      </div>
    </div>
    </div> 
    <br/>
    <div *ngIf="IsNoRecordFound" calss="row tbl-div">
                <br/>
                <div class="form-group form-control NoRecord-Found">
                  No profiles found!.
                </div>
                <br/>
   </div>
  <table class="table table-bordered table-striped" *ngIf="IsRecordFound">
  <thead>
    <tr>
      <th>Centre Code</th>
      <th>Centre Name</th>
      <th>Centre Incharge</th>
      <th>Mobile Number</th>
      <th>Centre Address</th>
      <th>EmailId</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let item of centerApiResponse | paginate: { itemsPerPage: itemsPerPage, currentPage: p }; let i = index">
      <td>{{ item.centerCode }}</td>
      <td>{{ item.centerName }}</td>
      <td>{{ item.centerInchargeName }}</td>
      <td>{{ item.mobileNumber }}</td>
      <td>{{ item.centerAddress }}</td>
      <td>{{ item.emailId }}</td>
      <td>
        <button class="edit-button" matTooltip="edit center details" (click)="ViewCenterDetails(item.centerCode)">
          <mat-icon class="edit-icon">edit</mat-icon>
        </button>
        <button class="delete-button" matTooltip="delete center" (click)="centerDeleteConfirmationDialog(item.centerCode)">
          <mat-icon class="delete-icon">delete</mat-icon>
        </button>
      </td>
    </tr>
  </tbody>
</table> 
<pagination-controls (pageChange)="p = $event"></pagination-controls>
</div>
<app-loader *ngIf="loading$ | async"></app-loader>


