<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"> 
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

<div class="container mt-3">
    <div class="row" [formGroup]="testMasterForm" >
        <div class="col-md-3">
        <label>Test Status</label>
        <select class="form-control"  formControlName="ddlTestStatus">
            <option value="">~Please Choose~</option>
            <option value="true">Active</option>
            <option value="false">InActive</option>
        </select>
        </div>
        <div class="col-md-3">
            <label>Department / Discipline</label>
            <select class="form-control" id="roleType"  formControlName="ddlDeptOrDescipline">
                <option value="-All-">~Please Choose~</option>
                <option *ngFor="let item of testDeptApiResponse" [value]="item.testDepartment">{{item.testDepartment}}</option>
            </select>
        </div>
        <div class="col-md-3">
            <label>Processed Lab</label>
            <select class="form-control"  formControlName="ddlOutLab">
                <option value="null">~Please Choose~</option>
                <option value="0">InLab</option>
                <option value="1">OutLab</option>
            </select>
        </div>
        <div class="col-md-3">
            <label>Test Name / Code</label>
      <input class="form-control" type="TestNameOrCode" name="TestNameOrCode" placeholder="Type test name or code" formControlName="TestNameOrCode">
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="div-button">
            <button mat-flat-button class="search-button" (click)="onSearchClick()"><mat-icon>search</mat-icon>Search Test</button>
            <button mat-flat-button class="add-button">
              <mat-icon>person</mat-icon> Add New Test</button> 
          </div>
        </div>
    </div>
    <br/>
    <div class="row" [formGroup]="searchTestForm">
    <div class="col-md-3"></div>
    <div class="col-md-3"></div>
    <div class="col-md-3"></div>
    <div class="col-md-3">
      <div class="form-group">
        <input class="form-control" formControlName="filterTest" placeholder="Search..." />
      </div>
    </div>
    </div> 
    <br/>
    <table class="table table-bordered table-striped">
        <thead>
          <tr>
            <!-- <th>Sr.No.</th> -->
            <th>Test Code</th>
            <th>Test Name</th>
            <th>Specimen Type</th>
            <th>Reference Units</th>
            <th>Department</th>
            <th>Report Format </th>
            <th>Patient Rate</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of testDataApiResponse | paginate: { itemsPerPage: itemsPerPage, currentPage: p }; let i = index">
            <!-- <td>{{ i + 1 }}</td> -->
            <td>{{ item.testCode}}</td>
            <td>{{ item.testName }}</td>
            <td>{{ item.specimenType}}</td>
            <td>{{ item.referenceUnits}}</td>
            <td>{{ item.discipline}}</td>
            <td>{{ item.reportTemplateTame }}</td>
            <td>{{ item.mrp }}</td>
            <td>  
              <button class="edit-button" matTooltip="edit test">
              <mat-icon class="edit-icon">edit</mat-icon>
            </button>
            <button class="delete-button" matTooltip="delete test" (click)="testDeleteConfirmationDialog(item.testCode)">
              <mat-icon class="delete-icon">delete</mat-icon>
            </button>
          </td>
          </tr>
        </tbody>
      </table> 
      <pagination-controls (pageChange)="p = $event"></pagination-controls>
</div>
<app-loader *ngIf="loading$ | async"></app-loader>