  
  footer {
    background-color: #17f3e1; /* Replace with your desired color */
    /* margin-top: 400px;Optional background color */
    
  }
  
  .footer-content {
    text-align: center; /* Centers text within the content div */
    margin-top: 5px;
  }
  