  
/* Footer */
footer {
 background: linear-gradient(90deg, #00C7B7, #00C7B7); /* Gradient background */
  color: #ffffff;
  text-align: center;
  padding: 10px 0;
  font-size: 14px;
  border-top: 3px solid #00C7B7;
  position: relative;
  bottom: 0;
  width: 100%;
}
  
  .footer-content {
    text-align: center; /* Centers text within the content div */
    margin-top: 5px;
  }
  